STRIPE_SECRET_KEY=sk_test_...
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...
VITE_GOOGLE_PLACES_API_KEY=your_google_places_api_key
SHIPPO_API_KEY=your_shippo_api_key

# Email Configuration
EMAIL_PROVIDER=gmail
EMAIL_USER=braedenlyman7@gmail.com
EMAIL_PASSWORD=wqfy nobn zdwh motv
EMAIL_FROM=noreply@70x7.ca
EMAIL_REPLY_TO=support@70x7.ca
